<article class="product-card">
  <a href="{{ product.url }}" class="product-card__media">
    {% if product.featured_image != blank %}
      {{ product.featured_image | image_url: width: 700 | image_tag: loading: 'lazy', alt: product.title }}
    {% else %}
      {{ 'product-1' | placeholder_svg_tag }}
    {% endif %}
  </a>

  <div class="product-card__info">
    <h3 class="product-card__title">
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h3>
    {% render 'price', product: product %}
  </div>
</article>
